<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!-- CONFIGURACAO DO BANCO DE DADOS -->
		<add key="NomeBanco" value="xxx"/>
		<add key="NomeServidor" value="xxx"/>
		<add key="Usuario" value="xxxx"/>
		<add key="Senha" value="xxx"/>

		<!--URL DA APLICACAO-->
		<!--<add key="Url" value="http://localhost:1238/Web/"/>
    <add key="UrlSSL" value="http://localhost:1238/Web/"/>-->
		<add key="Url" value="http://"/>
		<add key="UrlSSL" value="http://"/>
		<!--CAMINHOS DA APLICACAO-->
		<add key="ArFiles" value="./ArFiles/"/>
		<add key="PdfFiles" value="/GED/PdfFiles/"/>
		<!--DADOS PARA ENVIO DE EMAILS -->
		<add key="servidorSmtp" value="x"/>
		<add key="login" value="xxx"/>
		<add key="senhaEmail" value="xxx"/>
		<add key="porta" value="587"/>
		<add key="de" value="x"/>
		<add key="para" value="x"/>
		<add key="remetente_suporte" value="x"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime executionTimeout="600" maxRequestLength="40960"/>
		<httpModules>
		</httpModules>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<globalization culture="pt-BR"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
